html, body, form, table, p{
	font-family: "Roboto", sans-serif;
}

table, th, td{
	padding: 5px;
	border-spacing: 5px;
	border: 1px solid black;
	border-collapse: collapse;
}
form.forms, table, div{
	background-color: rgba(255, 255, 255, 0.75);
}
.bodyy{
	background-image: url(./worldwide.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
form.forms{
	width: 50%;
	margin: 0 auto;
}
form.csv{
	text-align: center;
}
div.header{
	text-align: center;
}
h2.search{
	text-decoration: underline;
	background-color: rgba(255, 255, 255, 0.75);
}
